.document-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.panels {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

nav {
  max-width: 320px;
  min-width: 200px;
  background-color: var(--nav-bg-color);
  border-right: 1px solid var(--main-border-color);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 14px;

  .link {
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: var(--main-text-color);

    &.active {
      background-color: var(--active-nav-item-bg-color);
    }
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

main {
  padding: 1rem;
  flex: 1;
  max-width: 800px;
}
