.document-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.panels {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

nav {
  max-width: 320px;
  min-width: 200px;
  background-color: var(--nav-bg-color);
  border-right: 1px solid var(--main-border-color);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 14px;

  .link {
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: var(--main-text-color);

    &.active {
      background-color: var(--active-nav-item-bg-color);
    }
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

.bottom-spacer {
  height: 5rem;
}

main {
  .view-yaml-button {
    background: none;
    border: 1px solid var(--main-border-color);
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--main-text-color);
    font-size: 14px;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--active-nav-item-bg-color);
    }
  }
  padding: 1rem;
  flex: 1;
  max-width: min(100%, 800px);
}

.metadata {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.download-link {
  border: 1px solid var(--accent);
  padding: 0.2rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

::ng-deep .description {
  img {
    max-width: 100%;
    height: auto;

    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1);
  }
}
