body,
html {
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);

  // Variables
  --main-bg-color: #ffffff;
  --main-text-color: #333;
  --main-border-color: #c3c3c3;
  --header-bg-color: #86f178;
  --title-color: #383c38;
  --examples-bg-color: #e5f6e2;
  --tag-bg: linear-gradient(#ddf4dd, #c5e8bb);
  --tag-text-color: #333;
  --heading-color: #3f423e;
  --nav-bg-color: #efefef;
  --active-nav-item-bg-color: #d3f2d0;
}

* {
  box-sizing: border-box;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  scroll-margin: 10px;
}
