:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--main-border-color);
  overflow: hidden;
}

.player-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.step-list {
  min-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid var(--main-border-color);
  display: flex;
  flex-direction: column;
  background-color: var(--player-step);
  overflow-y: auto;

  li {
    padding: 0.5rem 1rem 0.5rem calc(1rem - 4px);
    border-bottom: 1px solid var(--main-border-color);
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 0.8rem;
    border-left: 4px solid transparent;

    &.composite {
      background-color: #d8d8d8 !important;

      & > b {
        margin-left: 1rem;
        display: block;
        margin-bottom: 0.5rem;
      }

      padding: 0.5rem 0.2rem 0.2rem 0.2rem;
      border-left: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #e3e3e3;
    }

    &.active {
      background-color: var(--active-nav-item-bg-color);
      border-left-color: var(--player-step-progress-color);
    }

    &:focus-visible {
      outline: 2px solid var(--player-step-progress-color);
      outline-offset: -2px;
    }
  }
}

.view-container-wrapper {
  padding: 1rem;
  flex: 1;
  overflow: hidden;
  display: flex;

  .view-container-viewport {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .view-scaler {
      position: relative;
      transform-origin: top left;
    }
  }
}

.progress-bar {
  height: 6px;
  background-color: var(--progress-bar-bg-color);

  .progress {
    height: 100%;
    background-color: var(--player-step-progress-color);
    transition: width 0.2s ease-in-out;
  }
}

.buttons {
  display: flex;
  gap: 0.2rem;
  padding: 0.2rem;
  background-color: var(--player-step);
  justify-content: center;

  button {
    min-width: 5rem;

    &.active {
      background-color: var(--active-nav-item-bg-color);
    }
  }
}
