:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--main-border-color);
  overflow: hidden;
}

.player-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.step-list {
  min-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-right: 1px solid var(--main-border-color);
  display: flex;
  flex-direction: column;
  background-color: var(--player-step-bg-color);
  overflow-y: auto;
}

.view-container-wrapper {
  padding: 1rem;
  flex: 1;
  overflow: hidden;
  display: flex;
  position: relative;

  .view-container-viewport {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .view-scaler {
      position: relative;
      transform-origin: top left;
    }
  }
}

.progress-bar {
  height: 6px;
  background-color: var(--progress-bar-bg-color);

  .progress {
    height: 100%;
    background-color: var(--player-step-progress-color);
    transition: width 0.2s ease-in-out;
  }
}

.buttons {
  display: flex;
  gap: 0.2rem;
  padding: 0.2rem;
  background-color: var(--player-step-bg-color);
  justify-content: center;

  button {
    min-width: 5rem;

    &.active {
      background-color: var(--active-nav-item-bg-color);
    }
  }
}

.before-after {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0;
  padding: 0;
  justify-content: center;

  &.hidden {
    display: none;
  }

  button {
    min-width: 4rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--main-border-color);
    background-color: var(--player-step-bg-color);

    &.active {
      background-color: var(--active-nav-item-bg-color);
      font-weight: bold;
    }

    &.before {
      border-radius: 5px 0 0 5px;
    }

    &.after {
      border-radius: 0 5px 5px 0;
      border-left: none;
    }

    &:not(.active) {
      color: var(--disabled-text);
    }
  }
}
