:host {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--main-border-color);
}

h3 {
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  span {
    display: none;
  }

  ul {
    list-style: none;
    padding-inline-start: 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0.8em;
  }
}

