:host:not(:last-child) {
  border-bottom: 1px solid var(--player-step-border-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--player-step-bg-color);
  overflow-y: auto;
}

li {
  padding: 0.5rem 1rem 0.5rem calc(1rem - 4px);
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 0.8rem;
  border-left: 4px solid transparent;
  background-color: var(--player-step-bg-color);

  &.composite {
    background-color: var(--composite-player-step-bg-color);
    cursor: default;

    & > b {
      margin-left: 1rem;
      display: block;
      margin-bottom: 0.5rem;
    }

    padding: 0.5rem 0.2rem 0 0.2rem;
    border-left: 0;
  }

  &:hover {
    background-color: #e3e3e3;
  }

  &.active {
    background-color: var(--active-nav-item-bg-color);
    border-left-color: var(--player-step-progress-color);
  }

  &:focus-visible {
    outline: 2px solid var(--player-step-progress-color);
    outline-offset: -2px;
  }
}

.error-indicator {
  display: inline-flex;
  color: white;
  font-weight: bold;
  background-color: #f11212;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.8rem;
  margin-right: 0.2rem;
  align-items: center;
  justify-content: center;
}
