:host {
  display: flex;
}

.container {
  font-family: "pangolin", cursive;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 16px;
  position: relative;
  min-height: 75px;

  &.target {
    border-color: tomato;
  }

  border: 2px solid #95908c;
  border-bottom-left-radius: 100px 2px;
  border-bottom-right-radius: 2px 100px;
  border-top-left-radius: 2px 100px;
  border-top-right-radius: 100px 2px;
}

.selector {
  color: #818181;
  font-style: italic;
}

.text {
  margin: 0.5rem;
  font-size: 1rem;

  &.placeholder {
    color: grey;
    font-style: italic;
  }
}

label {
  font-weight: bold;
  padding: 0.1rem;
}

label,
.selector {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.clicked {
  background: #ea3f3f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  outline: 2px solid #ea3f3f;
  outline-offset: -2px;
  animation: clicked 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes clicked {
  0% {
    outline-offset: 0;
  }
  100% {
    outline-offset: 10px;
    outline-color: transparent;
  }
}

.typing:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1rem;
  transform: translate(-2px, 2px);
  background-color: #ea3f3f;
  animation: typing 1s infinite steps(1);
}

@keyframes typing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
