.document-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: auto;
}

main {
  padding: 1rem;
  flex: 1;
  max-width: 800px;
  width: 800px;
}

@media (max-width: 800px) {
  main {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1024px;
    width: 1024px;
  }
}

app-test-player {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
