details {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;

  summary {
    cursor: pointer;
    margin: 0.2rem 0;
  }
}

.quoted {
  font-style: italic;
  color: var(--quoted-text-color);
}

.keyword {
  color: var(--keyword-color);
  font-weight: bold;
}
